<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <display-name>WebApp</display-name>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>IndexServlet</servlet-name>
        <servlet-class>org.aulaweb.servlet.index.IndexServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>org.aulaweb.servlet.admin.IndexServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>org.aulaweb.servlet.admin.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListClientsServlet</servlet-name>
        <servlet-class>org.aulaweb.servlet.admin.clients.ListClientsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddClientsServlet</servlet-name>
        <servlet-class>org.aulaweb.servlet.admin.clients.AddClientsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditClientsServlet</servlet-name>
        <servlet-class>org.aulaweb.servlet.admin.clients.EditClientsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteClientsServlet</servlet-name>
        <servlet-class>org.aulaweb.servlet.admin.clients.DeleteClientsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddGalleriesServlet</servlet-name>
        <servlet-class>org.aulaweb.servlet.admin.galleries.AddGalleriesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteGalleriesServlet</servlet-name>
        <servlet-class>org.aulaweb.servlet.admin.galleries.DeleteGalleriesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditGalleriesServlet</servlet-name>
        <servlet-class>org.aulaweb.servlet.admin.galleries.EditGalleriesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListGalleriesServlet</servlet-name>
        <servlet-class>org.aulaweb.servlet.admin.galleries.ListGalleriesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddServicesServlet</servlet-name>
        <servlet-class>org.aulaweb.servlet.admin.services.AddServicesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteServicesServlet</servlet-name>
        <servlet-class>org.aulaweb.servlet.admin.services.DeleteServicesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditServicesServlet</servlet-name>
        <servlet-class>org.aulaweb.servlet.admin.services.EditServicesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListServicesServlet</servlet-name>
        <servlet-class>org.aulaweb.servlet.admin.services.ListServicesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUsersServlet</servlet-name>
        <servlet-class>org.aulaweb.servlet.admin.users.AddUsersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUsersServlet</servlet-name>
        <servlet-class>org.aulaweb.servlet.admin.users.DeleteUsersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditUsersServlet</servlet-name>
        <servlet-class>org.aulaweb.servlet.admin.users.EditUsersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListUsersServlet</servlet-name>
        <servlet-class>org.aulaweb.servlet.admin.users.ListUsersServlet</servlet-class>
    </servlet>
    <!--    <servlet-mapping>
        <servlet-name>IndexServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>-->
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>org.aulaweb.servlet.admin.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSlidersServlet</servlet-name>
        <servlet-class>org.aulaweb.servlet.admin.sliders.AddSlidersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteSlidersServlet</servlet-name>
        <servlet-class>org.aulaweb.servlet.admin.sliders.DeleteSlidersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditSlidersServlet</servlet-name>
        <servlet-class>org.aulaweb.servlet.admin.sliders.EditSlidersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListSlidersServlet</servlet-name>
        <servlet-class>org.aulaweb.servlet.admin.sliders.ListSlidersServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/admin/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListClientsServlet</servlet-name>
        <url-pattern>/admin/clients</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddClientsServlet</servlet-name>
        <url-pattern>/admin/clients/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditClientsServlet</servlet-name>
        <url-pattern>/admin/clients/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteClientsServlet</servlet-name>
        <url-pattern>/admin/clients/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddGalleriesServlet</servlet-name>
        <url-pattern>/admin/galleries/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteGalleriesServlet</servlet-name>
        <url-pattern>/admin/galleries/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditGalleriesServlet</servlet-name>
        <url-pattern>/admin/galleries/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListGalleriesServlet</servlet-name>
        <url-pattern>/admin/galleries</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddServicesServlet</servlet-name>
        <url-pattern>/admin/services/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteServicesServlet</servlet-name>
        <url-pattern>/admin/services/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditServicesServlet</servlet-name>
        <url-pattern>/admin/services/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListServicesServlet</servlet-name>
        <url-pattern>/admin/services</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUsersServlet</servlet-name>
        <url-pattern>/admin/users/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUsersServlet</servlet-name>
        <url-pattern>/admin/users/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditUsersServlet</servlet-name>
        <url-pattern>/admin/users/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListUsersServlet</servlet-name>
        <url-pattern>/admin/users</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/admin/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSlidersServlet</servlet-name>
        <url-pattern>/admin/sliders/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteSlidersServlet</servlet-name>
        <url-pattern>/admin/sliders/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditSlidersServlet</servlet-name>
        <url-pattern>/admin/sliders/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListSlidersServlet</servlet-name>
        <url-pattern>/admin/sliders</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <!--Filtra acesso de todo acesso depois de /admin/*-->
    <filter>
        <filter-name>AdminRequiredFilter</filter-name>
        <filter-class>org.aulaweb.filter.AdminRequiredFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AdminRequiredFilter</filter-name>
        <url-pattern>/admin/*</url-pattern>
    </filter-mapping>
</web-app>
